*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.banner img {
  width: 95%;
  border-radius: 5px;
  height: 29vh;
}
.ad{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
  /* margin-bottom: -300px; */
}
.ad2{
  width: 100%;
  display: flex;
  justify-content: center;
}
.recom{
  margin: 30px 50px;
  font-size: 26px;
  font-weight: normal;
}


